<div fxLayout='row' fxLayoutAlign="space-around">
  <div class="entries-card" fxLayout="column">
    <h2 class="title">Welcome Jam</h2>
    <p>It looks like you have some entries to show</p>
    <p>
      Browse you Team Challenges tab below to continue
      reviewing sumbissions, or your My Challenges tab
      to complete challenges.
    </p>
  </div>
  <div style="display: block; position:relative;">
    <small style="position: absolute; margin: 50% 38%; text-align: center">
      {{ entriesToReview }} Entries to review
    </small>
    <canvas baseChart
                [data]="doughnutChartData"
                [labels]="doughnutChartLabels"
                [chartType]="doughnutChartType"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)"></canvas>
  </div>
</div>