<p class="footer-line">
  <a href="/" class="footer-link medium-font-color hover-accent">Company</a>
  | <a href="http://www.brainshark.com/contact-us">Contact Us</a>
  | <a href="http://www.brainshark.com/company/terms-conditions.aspx">Terms of use</a>
</p>
<p class="bottom">
  <span class="bold-red">© 1999-2017 Brainshark Inc.</span>  This product covered by U.S. Patent No. 6,968,506. Other patents pending.
  <br>
  <a href="http://www.brainshark.com" target="blank" class="linkcopy">www.brainshark.com</a>
</p>