:host {
    background-color: #e1e1e1;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    font-family: 'HelveticaNeueRoman','Helvetica Neue, Helvetica, Arial', sans-serif;
    font-size: 12px;
}

.footer-line {
    margin-bottom: 5px;
}

a {
    font-weight: bold;
    color: black;
    text-decoration: none;
}

.bold-red {
    color: #a70435;
    font-weight: bold;
}